@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS APLICACIONES WEB</h1>
    <p>Elaborado por <a href="https://learn.microsoft.com/aspnet/core">Luis Ivan Torres Monteros</a>.</p>
</div>
